.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    box-sizing: border-box;
    padding: 10px;
  }
  
  #logoutButton {
    margin-top: 10px;
  }
  
  .vertical-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .statistics-section {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .chart-container {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; 
  }
  
  .chart {
    width: 100%;
    height: auto;
    max-width: 100%; 
  }
  
  .inline-bordered-section {
    width: calc(44.333% - 10px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  #userProfile h3,
  #levelCount h3,
  #xpCount h3 {
    margin-bottom: 5px;
  }
  
  #userProfile p,
  #levelCount p,
  #xpCount p {
    margin: 0;
  }
  
  .float-right {
    float: right;
  }
  
  @media screen and (max-width: 768px) {
    .inline-bordered-section {
      width: calc(100% - 10px); 
    }
  
    .vertical-section {
      flex-direction: column; 
    }
  
  }